<div class="container-fluid index">
  <header class="row index__header justify-content-center align-items-center">
    <div class="col-12 justify-content-center d-flex mx-auto">
      <img src="/img/rotarywhite.png" alt="Rotary Club Logo" width="50px" class="mx-4"><h1 class="index__title text-light">Rotary Club La Paz</h1>
    </div>
  </header>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 index__posts">
      <div class="row">
          <div class="col-12">
            <h3 class="index__posts-title">Últimas noticias</h3>
          </div>
        {{#each posts }}          
          <div class="col-12 col-lg-6">
            <div class="card-blog">
              <div class="card-blog__header">
                <img src="/profiles/{{this.profile}}" alt="Rotary Club La Paz | {{this.title}}" class="card-blog__profile">
              </div>
              <div class="card-blog__body">
                <h3 class="card-blog__title">
                  {{this.title}}
                </h3>
                <p class="card-blog__description">
                  {{descriptionLength this.description}}
                </p>
                <a href="/post/details/{{this.post_id}}" class="btn btn-outline-primary text-right btn-block text-center">Leer mas...</a>
              </div>
              <div class="card-blog__footer">
                <p class="card-blog__date">Publicado: {{dateformat this.published_at}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>