<div class="container" style="max-width: 1500px; min-height: 100vh;">
    <div class="row py-4">
        <div class="col-12 col-md-9">
            <div class="row">
                {{#each results }}            
                    <div class="col-12 col-lg-6">
                        <div class="card mb-3 overflow-hidden shadow border-0 mx-auto animate__animated animate__fadeIn" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/profiles/{{this.profile}}" class="img__full">
                                </div>
                                    <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="/post/details/{{this.post_id}}"><h5 class="card-title d-inline-block text-truncate" style="max-width: 100%;">{{this.title}}</h5></a>
                                        <p class="card-text">{{descriptionLength this.description}}</p>
                                        <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt mx-1"></i>{{dateformat this.published_at}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}

                {{/each}}
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="my-2">
                <p class="text-info">
                    Proximos eventos
                </p>
            </div>
            <div class="row">
                {{#each entries }}                 
                    <div class="col-12"> 
                        <div class="card border-0 shadow">
                            <div class="card border-0">
                                <div class="card-body">
                                    <a href="/post/details/{{this.post_id}}">
                                        <p class="card-title">{{titleLength this.title}}</p>
                                    </a>
                                    <p class="m-0"><i class="fas fa-calendar-week mr-2"></i>{{dateformat this.start}} - {{dateformat this.end}}</p>
                                    <strong class="m-0"><i class="fas fa-map-marker-alt mr-1"></i>{{this.address}}</strong>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll("#content img").forEach( (element) => {
        element.classList.add("img-fluid");
    });
</script>