<div class="container" style="max-width: 1500px; min-height: 100vh;">
    <div class="row py-4">
        <div class="col-12 col-md-9">
            <div class="row">
                {{#each results }}            
                    <div class="col-12 col-lg-6">
                        <div class="card mb-3 overflow-hidden shadow border-0 mx-auto animate__animated animate__fadeIn" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="/profiles/{{this.profile}}" class="img__full">
                                </div>
                                    <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="/post/details/{{this.post_id}}"><h5 class="card-title d-inline-block text-truncate" style="max-width: 100%;">{{this.title}}</h5></a>
                                        <p class="card-text">{{descriptionLength this.description}}</p>
                                        <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt mx-1"></i>{{dateformat this.published_at}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}

                {{/each}}
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="my-2">
                <p class="text-info">
                    Últimos posts
                </p>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Post Título</h2>
                </div>
                <div class="card-body">
                    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio, doloribus sit inventore eveniet officia repellendus tempora modi aliquam maiores esse eum itaque suscipit exercitationem excepturi veritatis accusantium veniam incidunt error! Nobis amet asperiores nemo totam perspiciatis aut excepturi? Beatae blanditiis aperiam, voluptas quisquam voluptates porro corporis quod repudiandae atque.</small>
                </div>
                <div class="card-footer">
                    <p>26/02/2021</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll("#content img").forEach( (element) => {
        element.classList.add("img-fluid");
    });
</script>